{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/Belachew.png')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
            I have  a Bachelor of Science (B.Sc.) in <b>Computer Science from Injibara University,
            completed June 2022, with a GPA of 3.82</b>. <i>His academic background,
            combined with professional training and certifications in cybersecurity, networking, and information security,
            has provided him with a strong foundation in both technical and security-related areas.<i>
        </p>
        <p>
         I am an Information Security professional with hands-on experience in SAP Security,
            SAP GRC (PC, RM, AM, and IAG), SAP S/4HANA, Active Directory, and Network Security.
            I have been working as an Information Security Analyst I at Ethiopian Electric Power since
            August 2023, where I focus on protecting enterprise systems, managing access and authorizations,
            conducting risk assessments, and supporting security and compliance activities.
        </p>
        <p>
          My technical skills include SAP Security, SAP GRC, SAP S/4HANA, Active Directory,
            ethical hacking, vulnerability assessment, penetration testing, network security,
            Python programming, Linux, Kali Linux, Metasploit, Wireshark, Nmap, ZMap, VMware,
            and VirtualBox. I am committed to continuously developing my cybersecurity knowledge and applying my
            technical skills to strengthen organizational security and protect critical information systems.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
